@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
body,html {
    padding:0px;
    margin:0px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    color:#fff;
    background:rgb(0, 0, 0);
    scroll-behavior: smooth;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:60px;
    height:60px;
    border:6px solid #fff;
    border-bottom:6px solid #000;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#header {
    width:80%;
    padding:4% 10%;
    text-align:center;
    position:absolute;
    transition:0.6s ease-in-out;
}
#header div {
    display:block;
}
#title {
    font-size:40px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
}
#links {
    margin:40px 0px;
    transition:0.6s ease-in-out;
    color:#fff;
}
#links a {
    margin:0px 30px;
    color:inherit;
    text-decoration:none;
    transition:0.4s ease-in-out;
    padding:5px 8px;
    border-bottom:2px solid transparent;
}
#links a:hover {
    border-bottom:2px solid #fff;
}
#middle {
	position: relative;
    width:100%;
    height:100vh;
    background:linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0)),url("fondo.jpg") center center fixed;
    background-size:100% auto;
    background-repeat:no-repeat;
    color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    transition:1s ease-in-out;
    padding-top:20vh;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    color: white;
    overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */
}


#tagline {
    font-size:50px;
    width:60%;
}
#portfolio {
    width:80%;
    padding:2% 10%;
}
#portfolio div h1 {
    font-size:40px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
}
#skills {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#work {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#contact {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#contact form {
    width:100%;
}
#contact form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:2px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:2px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
}
#contact form input:focus {
    outline:none;
    border-bottom:2px solid rgba(255,255,255,1);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:2px solid rgba(255,255,255,1);
}
::placeholder {
    color:#fff;
}
.btn_one {
    color:white;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_one:hover {
    background:white;
    cursor:pointer;
    color:#000;
}
.project div {
    font-weight:normal;
}
.btn_two {
    color:#000;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:#fff;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_two:hover {
    background:transparent;
    cursor:pointer;
    color:#fff;
}
#details {
    margin:6vh 0px;
}
.btn_social {
    font-size:18px;
    color:#fff;
    margin:40px 20px;
    padding:15px 18px;
    border-radius:50%;
    background:#000;
    transition:0.4s ease-in-out;
}
.btn_social:hover {
    color:#000;
    background:#fff;
    cursor:pointer;
}
@media (max-width: 900px){
    #header {
        width:94%;
        padding:15% 3%;
    }
    #title {
        font-size:30px;
    }
    #links {
        margin:30px 0px;
    }
    #links a {
        margin:0px;
    }
    #middle {
        width:100%;
        border-radius:0px;
        height:80vh;
        background-size:cover;
    }
    #tagline {
        width:90%;
        font-size:30px;
    }
    .btn_one {
        font-size:14px;
        padding:8px 20px;
    }
    .btn_two {
        font-size:14px;
        padding:8px 20px;
    }
    #contact form input {
        width:92%;
    }
    #contact form textarea {
        width:92%;
    }
    .btn_social {
        font-size:14px;
        margin:10px;
        padding:10px 11px;
    }
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    font-size:18px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
    text-decoration:none;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}

.wonder {
  color: black;
  background-color: cyan;
  /* Efecto cristalizado */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */

  /* Sombras verdes */
  box-shadow: 0px 5px 10px rgba(0, 128, 0, 0.5); /* Ajusta los valores para personalizar la sombra */

  /* Efecto 3D (opcional) */
  transform: skew(5deg, -5deg); /* Ajusta los 치ngulos para personalizar la inclinaci칩n */
}

.video-frame {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  margin: 0 auto; /* Center horizontally */
  border-radius: 10px; /* Smooth borders */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3), 0 6px 20px rgba(0, 255, 0, 0.2); /* Green shadows for 3D effect */
}

.video-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px; /* Smooth borders for iframe */
}

.footer-social {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

.footer-social h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between icons */
}

.social-icons a {
  display: inline-block;
  transition: transform 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.social-icons a:hover {
  transform: scale(1.1); /* Slight zoom on hover */
   -webkit-tap-highlight-color: transparent;
}

.social-icons img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 10px; /* Smooth borders */
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3), 0 6px 20px rgba(0, 255, 0, 0.2); /* Green shadows for 3D effect */
   -webkit-tap-highlight-color: transparent;
}


.discord-message {
  background: linear-gradient(145deg, #7289DA, #99AAB5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.discord-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.discord-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.discord-username {
  color: #fff;
  font-weight: bold;
}

.discord-message-content {
  color: #fff;
  margin-top: 10px;
}

.discord-everyone {
  color: #8E44AD; /* Purple color */
  background-color: rgba(142, 68, 173, 0.2); /* Lighter, transparent purple background */
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: bold;
}

.join-discord {
  text-align: center;
  margin-top: 20px;
}

.join-discord button {
  background-color: #5865F2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.join-discord button:hover {
  background-color: #4E5DC6;
}

.join-discord i {
  margin-right: 5px;
}



.unique-twitter-post {
  background-color: #15202B; /* Twitter dark background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.unique-twitter-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.unique-twitter-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.unique-twitter-username {
  font-weight: bold;
  color: #1DA1F2; /* Twitter blue color */
}

.unique-twitter-handle {
  color: #8899A6;
  margin-left: 5px;
}

.unique-twitter-content {
  margin: 10px 0;
  color: #ffffff;
}

.unique-twitter-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.unique-twitter-icons i {
  color: #1DA1F2;
  cursor: pointer;
  transition: color 0.3s ease;
}

.unique-twitter-icons i:hover {
  color: #0d8dd9;
}

.container {
  display: flex;
  align-items: flex-start;
  background-color: #21273d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.vertical-line {
  width: 8px; /* M치s gruesa */
  background-color: #8E44AD; /* Purple color */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px 0 0 10px;
}

.content {
  flex: 1;
  margin-left: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #ebe692;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.image-right {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  flex-shrink: 0;
  margin-top: -20px; /* Ajusta la posici칩n vertical de la imagen */
}

.image-bottom {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  flex: 1;
  color: #ebe692;
}
